<%- include('../partials/header')%>
    <form action="/books" method="POST" autocomplete="off">
        <input type="text" name="book">
        <button type="submit">Save Book</button>
    </form>
    <%- include('../partials/footer')%>