<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Books</title>
</head>

<body>
    <h1>Books</h1>
    <ul>
        <% Books.forEach(function(b) { %>
            <li>
                <%= b.todo %>
                    -
                    <%= b.read ? 'read' : 'not read yet' %>
            </li>
            <% }); %>
    </ul>

</body>

</html>